<%= form_with(model: employee, local: true) do |form| %>
  <% if employee.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(employee.errors.count, "error") %> prohibited this employee from being saved:</h2>

      <ul>
      <% employee.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
    <div class="panel panel-primary">
      <div class="panel-heading">Panel with panel-primary class</div>

      <div class="panel-body">
        <div class="row">
          <div class="col s6">
            <%= form.label 'First Name' %>
            <%= form.text_field :firstname, id: :employee_FirstName , :required => true%>
          </div>

          <div class="col s6">
            <%= form.label 'Last Name' %>
            <%= form.text_field :lastname, id: :employee_LastName , :required => true%>
          </div>
        </div>

        <div class="row">
          <div class="col s6">
            <%= form.label :phone %>
            <%= form.text_field :phone, id: :employee_Phone , :required => true%>
          </div>

          <div class="col s4">
            <%= form.label 'Employee Type' %>
            <%= form.collection_select(:EmployeeTypeID, EmployeeType.all, :id, :emptypename, {prompt: "Employee Type"}, {class: "form-control ", required: true}) %>
          </div>

          <div class="col s2">
            <%= form.label 'Employee Status' %>
            <%= form.collection_select(:EmployeeStatusID, EmployeeStatus.all, :id, :statusname, {prompt: "Status"}, {class: "form-control", required: true}) %>
          </div>
        </div>

        <div class="actions">
          <%= form.submit class: "btn btn-primary" %>
        </div>
      </div>
    </div>

<% end %>
