<%= form_with(model: customer, local: true) do |form| %>
    <% if customer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(customer.errors.count, "error") %> prohibited this customer from being saved:</h2>

      <ul>
      <% customer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
    <div class="panel panel-primary">
      <div class="panel-heading">Panel with panel-primary class</div>

      <div class="panel-body">
  <div class="field">
      <div class="row">
        <div class="col s6">
          <%= form.label 'First Name' %>
          <%= form.text_field :firstname, id: :customer_FirstName, :required => true %>
        </div>
        <div class="col s6">
          <%= form.label 'Last Name' %>
          <%= form.text_field :lastname, id: :customer_LastName, :required => true %>
        </div>
      </div>
  </div>

  <div class="field">

  </div>
  <div class="row">
    <div class="col s6">
      <%= form.label :email %>
      <%= form.text_field :email, id: :customer_Email, :required => true %>
    </div>
    <div class="col s6">
      <%= form.label :phone %>
      <%= form.text_field :phone, id: :customer_Phone, :required => true %>
    </div>
  </div>
  <div class="row">
    <div class="col s12">
      <%= form.label :address %>
      <%= form.text_field :address, id: :customer_Address, :required => true %>
    </div>
  </div>
  <div class="row">
    <div class="col s6">
      <%= form.label :country %>
      <%= form.collection_select(:country_id, Country.all, :id, :countryname, {:prompt => 'Select Country'}, {class: "form-control", required: true}) %>

      <!--<= form.collection_select(:country_id, Country.all, :id, :countryname, {prompt: "Country", :selected => @customer.country.to_s}, {class: "form-control", required: true}) %>-->
    </div>
    <div class="col s6">
      <%= form.label 'State' %>
      <%= form.collection_select(:state_id, State.all, :id, :statename, {prompt: "State/Province"}, {class: "form-control",  required: true})%>
      <!--< form.collection_select :state_id, State.all , :id, :statename, {:prompt => 'Yea', :selected => @customer.state.to_i} %>-->
    </div>
  </div>

  <div class="row">
    <div class="col s6">
      <%= form.label :city %>
      <%= form.text_field :city, id: :customer_City , :required => true%>
    </div>

    <div class="col s6">
      <%= form.label :zipcode %>
      <%= form.text_field :zipcode, id: :customer_Zipcode , :required => true%>
    </div>
  </div>
        <!--f.collection_select :company_status_id, ListCache.company_statuses, :id, :name, {:prompt => @select_value, :selected => @company.company_status_id.to_i}-->

  <!--<div class="field">-->
    <!--<= form.label :customerstatusid %>-->
    <!--<= form.number_field :customerstatusid, id: :customer_CustomerStatusID %>-->
  <!--</div>-->

  <div class="actions">
    <%= form.submit class: 'btn btn-primary' %>
  </div>
      </div></div>
<% end %>
