<p id="notice"><%= notice %></p>

<h1>Customers
  <a href="http://localhost:3000/customers/new" class=" resvervation-add btn-floating btn-large waves-effect waves-light green" >
    <i class="material-icons">add</i>

  </a></h1>

<input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for customers..." title="Type in a name">

<div class="panel panel-default shadow-pane" style="min-width:100%">
  <div class="panel-heading">
    <div class="col-lg-2 col-lg-offset-4">

    </div>
  </div>

  <div class="panel-body" >
      <table id="myTable" class="table table-hover text-center striped">
        <thead>
        <tr>
          <th>Name</th>
          <th>Email</th>
          <th>Phone</th>
          <th>Status</th>
          <th colspan="3"></th>
        </tr>
        </thead>

        <tbody>

        <% @customers.each do |customer| %>
            <div2>
            <tr data-link="<%= customer_path(customer) %>" class="clickable-row">
              <td id="myTB"><%= customer.firstname %> <%= customer.lastname %></td>
              <td><%= customer.email %></td>
              <td><%= customer.phone %></td>
              <td><%= customer.customer_status.description %></td>
              <td><div class="dropdown">
                <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown"><span class="caret"></span></button>
                <ul class="dropdown-menu">
                  <li><%= link_to 'Show', customer %></li>
                  <li><%= link_to 'Edit', edit_customer_path(customer) %></li>
                  <li><%= link_to 'Destroy', customer, method: :delete, data: { confirm: 'Are you sure?' } %></li>
                  <!--<li>%= link_to 'Delete', delete_customer_index_path(id: customer.id, type: :normal),method: :delete,class: ' ', data: { confirm: 'Remove this customer?' } %></li>-->
                </ul>
              </div></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            </div2>
        <% end %>

        </tbody>
      </table>
  </div>
</div>

<br>

<script>
    function myFunction() {
        var input, filter, table, tr, td, i;
        input = document.getElementById("myInput");
        filter = input.value.toUpperCase();
        table = document.getElementById("myTable");
        tr = table.getElementsByTagName("tr");
        for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[0];
            if (td) {
                if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                } else {
                    tr[i].style.display = "none";
                }
            }
        }
    }
</script>