<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @customer.firstname %> <%= @customer.lastname %>
</p>


<p>
  <strong>Email:</strong>
  <%= @customer.email %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @customer.phone %>
</p>

<p>
  <strong>Country:</strong>
  <%= @customer.country %>
</p>

<p>
  <strong>State:</strong>
  <%= @customer.state %>
</p>

<p>
  <strong>City:</strong>
  <%= @customer.city %>
</p>

<p>
  <strong>Zipcode:</strong>
  <%= @customer.zipcode %>
</p>

<p>
  <strong>Address:</strong>
  <%= @customer.address %>
</p>

<p>
  <strong>Customerstatusid:</strong>
  <%= @customer.customerstatusid %>
</p>

<%= link_to 'Edit', edit_customer_path(@customer) %> |
<%= link_to 'Back', customers_path %>


<div class="panel panel-default shadow-pane">
  <div class="panel-heading">
  </div>
  <div class="panel-body">
    <table class="table table-hover text-center striped">
      <thead>
      <tr>
        <th>Date</th>
        <th>Product</th>
        <th>Reserve Status</th>

      </tr>
      </thead>
        <tbody>
          <% @transactions.each do |t| %>
              <tr>
                <td><%= t.date %> </td>
                <td><%= t.productid %> </td>
                <td><%= t.reservestatusid %> </td>
              </tr>
          </tbody>
          <% end %>
          </table>
  </div>
</div>