<div class="row">
<div class="col s6">
  <h1>Our Team</h1>

  <%= image_tag('the A team.jpg', :size => "300x300")%>
  <p>We da bomba</p>
</div>
<div class="col s6">
  <h1>Our Client</h1>

  <img src="http://logos-download.com/wp-content/uploads/2016/04/Christian_Louboutin_logo_logotype.png" width="300" height="300">

</div>
</div>
<div class="row">
  <div style="text-align:center">
  <h1>Peeps</h1></div>

  <div   style="float: left" class="col s4">
    <div class="card" style="background-color:white;max-width: 300px; margin-right:20px">
      <%= image_tag('HermannEdits_4 2.jpg', :size => "300x300")%>
      <div class="card-action"style="min-height: 320px">
        <a href="https://www.linkedin.com/in/edward-sanchez-6217b481/">Edward Sanchez</a>

        <p style="margin-top: 10px">Edward Sanchez is a senior at University of Houston, majoring in Computer Information
        System.  Edward is project manager whose main role is to help  lead the team towards the
        projects success. He is helping develop the application with programming the front end and the
        back end. He is also helping develop the project documentation to make sure the final project has
        a complete and portfolio.</p>
      </div>
    </div>
  </div>

  <div   style="float: left"class="col s4">
    <div class="card" style="background-color:white;max-width: 300px; margin-right:20px">
      <%= image_tag('khoi.jpg', :size => "300x300")%>
      <div class="card-action " style="min-height: 320px">
        <a href="Edward Sanchez">Khoi Nguyen</a>
        <p style="margin-top: 10px">Khoi Nguyen is a Senior level student at the University of Houston studying Computer
          informations. Khoi main role is in  the Business System  Analyst and Application Tester.
          Also, Khoi will assist with other functional area of the project developing and any
          assistant to teammates if they needed.</p>
      </div>
    </div>
  </div>

  <div   style="float: left"class="col s4">
    <div class="card" style="background-color:white;max-width: 300px; margin-right:20px">
      <%= image_tag('shomari.jpg', :size => "300x300")%>
      <div class="card-action" style="min-height: 320px">
        <a href="Edward Sanchez">Shomari Simon</a>
        <p style="margin-top: 10px">A Senior level student studying Computer Information Systems at the University of
          Houston, within its College of Technology. His main focus would be completing the
          tasks &amp; responsibilities pertaining to the Application Tester’s role, while also providing
          assistance to teammates from other necessary roles within the project.</p>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div   style="float: left"class="col s4">
    <div class="card" style="background-color:white;max-width: 300px; margin-right:20px">
          <%= image_tag('defaultshoe.jpg', :size => "300x300")%>
        <div class="card-action" style="min-height: 320px">
          <a href="Edward Sanchez">Sule Tauheed</a>
          <p style="margin-top: 10px">Suleman Tauheed is a senior at University of Houston College of Technology. He is majoring in
            Computer Information System.  Suleman is the assistant project manager. His main role is to
            help the project manager lead the project to success. He is also contributing to the coding portion of the project along with going over technical documents and providing team members with
            assistance to complete any aspect of the project.</p>
        </div>
      </div>
  </div>

  <div   style="float: left"class="col s4">
    <div class="card" style="background-color:white;max-width: 300px; margin-right:20px">
      <%= image_tag('defaultshoe.jpg', :size => "300x300")%>
  <div class="card-action" style="min-height: 320px">
    <a href="Edward Sanchez">Tiffany Ballard</a>
    <p style="margin-top: 10px">Senior student at University of Houston College of Technology majoring in Computer
      Information System.  Tiffany main responsibility will be performing duties attributed to
      the Business Systems Analyst role for this project and will assist with other functional
      areas project management, developing, QA testing, and technical writing as needed.</p>
  </div>
</div>
</div>

<div   style="float: left"class="col s4">
    <div class="card" style="background-color:white;max-width: 300px; margin-right:20px">
      <%= image_tag('defaultshoe.jpg', :size => "300x300")%>
      <div class="card-action"style="min-height: 320px">
        <a href="Edward Sanchez">Kenny Ngo</a>
        <p style="margin-top: 10px">Kenny Ngo is a Senior at the University of Houston studying Computer Informations.
          While he apart of the Project Team, he is also a stakeholder and works alongside the
          sponsor. His main role is to support the Project team and ensure that all aspects of the
          application are met to satisfy the sponsor. Being apart of both the project team and
          stakeholder allows him to fully guide the project to success.</p>
      </div>
    </div>
  </div>
</div>
<p>Special thanks to hypegator</p>