<%= form_with(model: reservation, local: true) do |form| %>
  <% if reservation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(reservation.errors.count, "error") %> prohibited this reservation from being saved:</h2>

      <ul>
      <% reservation.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :"Customer" %>
    <%= form.collection_select(:customerid, Customer.order(created_at: :asc), :id, :full_customer_name, {prompt: "Customer"}, {class: "form-control", required: true}) %>
  </div>

  <div class="field">
    <%= form.label "Shoe Size" %>
    <%= form.collection_select(:sizeid, Size.all, :id, :sizename, {prompt: "Shoe size"}, {class: "form-control", required: true}) %>

  </div>

  <div class="field">
    <%= form.hidden_field :customerid %>
    <%= form.hidden_field :productid %>
    <!--<= form.collection_select(:productid, Product.all, :id, :product_name, {prompt: "Product"}, {class: "form-control", required: true}) %>-->
  </div>
    <div class="field">
    <%= form.label :"Employee" %>
    <%= form.collection_select(:employeeid, Employee.order(:firstname), :id, :full_name2, {prompt: "Employee name"}, {class: "form-control", required: true}) %>

  </div>



  <!--<div class="field">-->

    <!--< form.label :"Product" %>-->
    <!--< form.collection_select(:productid, Product.order(:product_name), :id, :product_name, {prompt: "Product"}, {class: "form-control", required: true}) %>-->
  <!--</div>-->
    <div class="actions">
      <%= form.submit class: 'btn btn-primary'%>
    </div>





<% end %>
