<%= form_with(model: reservation, local: true) do |form| %>
  <% if reservation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(reservation.errors.count, "error") %> prohibited this reservation from being saved:</h2>

      <ul>
      <% reservation.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<!--This needs to be datepicker;-->
  <div class="field">
    <%= form.label :Date %>
    <%= form.date_select :Date, id: :reservation_Date %>
  </div>

  <div class="field">
    <%= form.label :CustomerID %>
    <%= form.collection_select(:CustomerID, Customer.all, :id, :FirstName, {prompt: "Customer"}, {class: "form-control"}) %>
  </div>

  <div class="field">
    <%= form.label :ReservStatusID %>
    <%= form.number_field :ReservStatusID, id: :reservation_ReservStatusID %>
  </div>

  <div class="field">
    <%= form.label :ProductID %>
    <%= form.collection_select(:ProductID, Product.all, :id, :Product_Name, {prompt: "Product"}, {class: "form-control"}) %>
  </div>

  <div class="field">
    <%= form.label :ColorID %>
    <%= form.number_field :ColorID, id: :reservation_ColorID %>
  </div>

  <div class="field">
    <%= form.label "Heel Height (mm)" %>
    <%= form.collection_select(:HeelID, Heel.all, :id, :Height, {prompt: "Height in mm"}, {class: "form-control"}) %>
  </div>

  <div class="field">
    <%= form.label :Quantity %>
    <%= form.number_field :Quantity, id: :reservation_Quantity %>
  </div>

  <div class="field">
    <%= form.label :EmployeeID %>
    <%= form.number_field :EmployeeID, id: :reservation_EmployeeID %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
