<p id="notice"><%= notice %></p>

<p>
  <strong>Date:</strong>
  <%= @reservation.date %>
</p>

<p>
<<<<<<< HEAD
  <strong>Customer name:</strong>
  <%= @reservation.CustomerID %>
=======
  <strong>Customerid:</strong>
  <%= @reservation.customerid %>
>>>>>>> e3c1aee98ebcef67a28b87f34e4ae1e7824cf7e5
</p>

<p>
  <strong>Reservstatusid:</strong>
  <%= @reservation.reservestatusid %>
</p>

<p>
  <strong>Productid:</strong>
  <%= @reservation.productid %>
</p>



<p>
<<<<<<< HEAD
  <strong>Employee Name:</strong>
  <%= @reservation.EmployeeID %>
=======
  <strong>Employeeid:</strong>
  <%= @reservation.employeeid %>
>>>>>>> e3c1aee98ebcef67a28b87f34e4ae1e7824cf7e5
</p>

<%= link_to 'Edit', edit_reservation_path(@reservation) %> |
<%= link_to 'Back', reservations_path %>
