<p id="notice"><%= notice %></p>

<h1>Materials
  <a href="http://localhost:3000/materials/new" class="btn-floating btn-large waves-effect waves-light blue">
    <i class="material-icons">add</i>
  </a>
</h1>
<input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for materials..." title="Type in a name">

<div class="panel panel-default shadow-pane" style="min-width:100%">
  <div class="panel-heading">

  </div>
  <div class="panel-body">
    <table id="myTable" class="table table-hover text-center striped">
      <thead>
      <tr>
        <th>Description</th>

        <!--< if @colors.length > 0 && @colors.total_pages > 1 %>-->
        <!--<div class="input-group stylish-input-group">-->
        <!--<input type="text" class="form-control" placeholder="Search">-->
        <!--<span class="input-group-addon">-->
        <!--<button type="submit">-->
        <!--<span class="glyphicon glyphicon-search"></span>-->
        <!--</button>-->
        <!--</span>-->
        <!--</div>-->
        <!--< end %>-->
      </tr>

      </thead>

    <% @materials.each do |material| %>

        <tr data-link="<%= material_path(material) %>" class="clickable-row">

        <td><%= material.description %></td>



          <td><div class="dropdown">
            <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown"><span class="caret"></span></button>
            <ul class="dropdown-menu">
              <li><%= link_to 'Edit', edit_material_path(material), 'data-toggle'=>'modal', 'data-target' => '#editModal' %></li>

              <li><%= link_to 'Delete', material_path(material, type: :normal),
                              method: :delete,class: ' ', data: { confirm: 'Are you sure?' },
                              redirect_to: '/admin#colors_tab' %></li>
            </ul>

      </div></td>
        </tr>
    <% end %>
    </tbody>
    </table>
</div>
</div>
<br>

  </tbody>
</table>

<br>

<script>
    function myFunction() {
        var input, filter, table, tr, td, i;
        input = document.getElementById("myInput");
        filter = input.value.toUpperCase();
        table = document.getElementById("myTable");
        tr = table.getElementsByTagName("tr");
        for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[0];
            if (td) {
                if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                } else {
                    tr[i].style.display = "none";
                }
            }
        }
    }
</script>