<%= form_with(model: product, local: true) do |form| %>
  <% if product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% product.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="field">
    <%= form.label :Product_Name %>
    <%= form.text_field :Product_Name, id: :product_Product_Name , :required => true%>
  </div>
  <div class="row">
  <div class="col s6">
  <div class="field">
    <%= form.label :Material %>
    <%= form.collection_select(:Material, Material.all, :id, :Description, {prompt: "Material"}, {class: "form-control", required: true}) %>

  </div>
  </div>
    <div class="col s6">

    <div class="field">
    <%= form.label :Heel %>
    <%= form.collection_select(:Heel, Heel.all, :id, :Height, {prompt: "Heel"}, {class: "form-control", required: true}) %>

  </div>
    </div>
  </div>
  <div class="field">
    <%= form.label :Color %>
    <%= form.collection_select(:Color, Color.all, :id, :ColorName, {prompt: "Color"}, {class: "form-control", required: true}) %>

  </div>




  <div class="field">
    <%= form.label :SerialNumber %>
    <%= form.text_area :SerialNumber, id: :product_SerialNumber , :required => true%>
  </div>


  <div class="field">
    <%= form.label :ImageURL %>
    <%= form.text_area :ImageURL, id: :product_ImageURL , :required => true%>
  </div>

  <div class="actions">
    <%= form.submit class: 'btn btn-primary'%>
  </div>
<% end %>
