<%= form_with(model: product, local: true) do |form| %>
  <% if product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% product.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="field">
    <%= form.label :product_name %>
    <%= form.text_field :product_name, id: :product_Product_Name , :required => true%>
  </div>
  <div class="row">
  <div class="col s6">
  <div class="field">
    <%= form.label :material %>
    <%= form.collection_select(:material, Material.all, :id, :description, {prompt: "Material"}, {class: "form-control", required: true}) %>

  </div>
  </div>
    <div class="col s6">

    <div class="field">
    <%= form.label :heel %>
    <%= form.collection_select(:heel, Heel.all, :id, :height, {prompt: "Heel"}, {class: "form-control", required: true}) %>

  </div>
    </div>
  </div>
  <div class="field">
    <%= form.label :Color %>
    <%= form.collection_select(:Color, Color.all, :id, :colorname, {prompt: "Color"}, {class: "form-control", required: true}) %>

  </div>




  <div class="field">
    <%= form.label :serialnumber %>
    <%= form.text_area :serialnumber, id: :product_SerialNumber , :required => true%>
  </div>


  <div class="field">
    <%= form.label :imageurl %>
    <%= form.text_area :imageurl, id: :product_ImageURL , :required => true%>
  </div>

  <div class="actions">
    <%= form.submit class: 'btn btn-primary'%>
  </div>
<% end %>
