<p id="notice"><%= notice %></p>

<h1>Products

  <a href="http://localhost:3000/products/new" class="btn-floating btn-large waves-effect waves-light orange">
    <i class="material-icons">add</i>
  </a>
</h1>
<input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for colors..." title="Type in a name">

<!--<= form_tag search_path, method: :get do %>-->
    <!--<= text_field_tag :search_imageurl, type: 'text' %>-->
    <!--<= submit_tag "Search" %>-->
<!--< end %>-->
<strong><%= jank = @customer.split(/[^\d]/).join %></strong>
<div class="container">
  <ul id="myUL">
    <% @products.each do |product| %>
        <div id="div1">
          <div id="div2" data-link="<%= product_path(product, :customerid => jank) %>" class="clickable-row" style="float: left; max-height:350px; margin-top:25px;">
            <div class="card <%= product.color.hexidecimal %>" style="background-color: <%= product.color.hexidecimal %>;max-width: 260px; margin-right:20px">
              <%= image_tag(product.imageurl, :size => "260x260")%>
              <p style="padding-left:10px; padding-top:10px; color:#ffb209">
                <%= product.product_name %> | </p>
              <p style="padding-left:10px; padding-bottom:10px; color:#ffb209"><%= product.color.colorname %></p>
              <!--<div class="card-action">-->
              <!--<p style="font-size:8px"></p>-->
              <!--</div>-->
            </div>
          </div>
        </div>
    <% end %>
  </ul>
</div>


<script>
    function myFunction() {
        var input, filter, ul, div1, div2, i;
        input = document.getElementById("myInput");
        filter = input.value.toUpperCase();

        ul = document.getElementById("myUL");
        div1 = ul.getElementsByTagName("div1");
        for (i = 0; i < tr.length; i++) {
            div2 = div1[i].getElementsById("div2")[0];
            if (div2) {
                if (div1.innerHTML.toUpperCase().indexOf(filter) > -1) {
                    div2[i].style.display = "";
                } else {
                    div2[i].style.display = "none";
                }
            }
        }
    }
</script>

<script>
    function myFunction() {
        // Declare variables
        var input, filter, ul, li, a, i, ul2,p2,x;
        input = document.getElementById('myInput');
        filter = input.value.toUpperCase();
        ul = document.getElementById("myUL");
        li = ul.getElementsByTagName('li2');
        //ul2 = document.getElementById('myCardDIV');

        ul2 = ul.getElementsByTagName('div2');
        p2 = ul.getElementsByTagName('p');



        // Loop through all list items, and hide those who don't match the search query
        for (i = 0; i < p2.length; i++) {
            a = p2[i].getElementsByTagName("a")[0];
            if ((a.innerHTML.toUpperCase().indexOf(filter) > -1)) {
                p2[i].style.display = "";
                ul2[i].style.display ="";


            } else {
                p2[i].style.display = "none";
                ul2[i].style.display ="none";



            }
        }

    }
</script>


