<p id="notice"><%= notice %></p>
<strong><% jank = @customer.split(/[^\d]/).join %></strong>

<% if jank == nil || jank == "" %>
    <p></p>
    <% else%>
    <nav>
      <div class="nav-wrapper">
        <div class="col s12">
          <a href="" class="breadcrumb" style="color:orange;">Select Product</a>
          <a href="" class="breadcrumb" style="color:white;">Add Product</a>
          <a href="" class="breadcrumb" style="color:white;">Finalize Order</a>
        </div>
      </div>
    </nav>
<% end %>

<h1>Products

  <a href="http://localhost:3000/products/new" class="btn-floating btn-large waves-effect waves-light orange">
    <i class="material-icons">add</i>
  </a>
</h1>
<input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for products..." title="Type in a name">

<!--<= form_tag search_path, method: :get do %>-->
    <!--<= text_field_tag :search_imageurl, type: 'text' %>-->
    <!--<= submit_tag "Search" %>-->
<!--< end %>-->
<div class="container-fluid">
  <div id="myUL">
    <% @products.each do |product| %>
        <div2>
          <div id="div" data-link="<%= product_path(product, :customerid => jank) %>" class="clickable-row" style="float: left; max-height:350px; margin-top:25px;">
            <div class="card <%= product.color.hexidecimal %>" style="background-color: <%= product.color.hexidecimal %>;max-width: 260px; margin-right:20px">
              <%= image_tag(product.imageurl, :size => "260x260")%>
              <div class="row">
                <div class="col l10">
                  <p style="padding-left:10px; padding-top:10px;color:#ffb209">
                  <li2> <%= product.product_name %></li2> </p>
                  <p style="padding-left:10px; padding-bottom:10px; color:#ffb209"><%= product.color.colorname %></p></div>
                <div class="col l2"></div>
              </div>

              <!--<div class="card-action">-->
              <!--<p style="font-size:8px"></p>-->
              <!--</div>-->

 <!--<li>%= link_to 'Delete', delete_customer_index_path(id: customer.id, type: :normal),method: :delete,class: ' ', data: { confirm: 'Remove this customer?' } %></li>-->
            </ul>
            </div>
          </div>
        </div2>
    <% end %>
  </div>
</div>


<script>
    function myFunction() {
        // Declare variables
        var input, filter, ul, li, a, i, ul2,p2,x;
        input = document.getElementById('myInput');
        filter = input.value.toUpperCase();
        ul = document.getElementById("myUL");
        li = ul.getElementsByTagName('li2');
        //ul2 = document.getElementById('myCardDIV');

        ul2 = ul.getElementsByTagName('div2');
        p2 = ul.getElementsByTagName('p');



        // Loop through all list items, and hide those who don't match the search query
        for (i = 0; i < li.length; i++) {
            a = li[i].getElementsByTagName("a")[0];
            if ((a.innerHTML.toUpperCase().indexOf(filter) > -1)) {
                li[i].style.display = "";
                ul2[i].style.display ="";


            } else {
                li[i].style.display = "none";
                ul2[i].style.display ="none";



            }
        }

    }
</script>


