<p id="notice"><%= notice %></p>

<h1>Products

  <a href="http://localhost:3000/products/new" class="btn-floating btn-large waves-effect waves-light orange">
    <i class="material-icons">add</i>
  </a>
</h1>
<input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for colors..." title="Type in a name">
<ul id="myUL">

  <% @products.each do |product| %>
    <div2>
  <div data-link="<%= product_path(product) %>" class="clickable-row" style="float: left; max-height:350px; margin-top:25px;">
    <div class="card <%= product.color.hexidecimal %>" style="background-color: <%= product.color.hexidecimal %>;max-width: 260px; margin-right:20px">
      <%= image_tag('defaultshoe.jpg', :size => "260x200")%>
      <p style="padding-left:10px; padding-top:10px; color:#ffb209">
        <%= product.product_name %> | </p>
      <p style="padding-left:10px; padding-bottom:10px; color:#ffb209"><%= product.color.colorname %></p>
      <!--<div class="card-action">-->
        <!--<p style="font-size:8px"></p>-->
      <!--</div>-->
    </div>
  </div>
    </div2>
  <% end %>

</ul>
<div class="panel panel-body" style="padding:0px;padding-left:10px;">
  <%= pie_chart Product.mostpopprod, library: {legend: {position: "right"}},
                colors:["#4d9de0","#e15554","#e1bc29","#3bb273","#7768ae"],
                height:"300px",width:"540px",donut:true,download:true %>
</div>
<script>
    function myFunction() {
        // Declare variables
        var input, filter, ul, li, a, i, ul2,p2,x;
        input = document.getElementById('myInput');
        filter = input.value.toUpperCase();
        ul = document.getElementById("myUL");
        li = ul.getElementsByTagName('li2');
        //ul2 = document.getElementById('myCardDIV');

        ul2 = ul.getElementsByTagName('div2');
        p2 = ul.getElementsByTagName('p');



        // Loop through all list items, and hide those who don't match the search query
        for (i = 0; i < p2.length; i++) {
            a = p2[i].getElementsByTagName("a")[0];
            if ((a.innerHTML.toUpperCase().indexOf(filter) > -1)) {
                p2[i].style.display = "";
                ul2[i].style.display ="";


            } else {
                p2[i].style.display = "none";
                ul2[i].style.display ="none";



            }
        }

    }
</script>