<p id="notice"><%= notice %></p>

<p>
  <strong>Product name:</strong>
  <%= @product.product_name %>
</p>

<p>
  <strong>Material:</strong>
  <%= @product.material %>
</p>

<p>
  <strong>Heel:</strong>
  <%= @product.heel %>
</p>

<p>
  <strong>Productstatus:</strong>
  <%= @product.ProductStatus %>
</p>

<p>
  <strong>Serialnumber:</strong>
  <%= @product.serialnumber %>
</p>

<p>
  <strong>Imageurl:</strong>
  <%= @product.ImageURL %>
</p>

<p>
  <strong>Color:</strong>
  <%= @product.colorid %>
</p>
<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
