<!DOCTYPE html>
<html>
  <head>
    <%= favicon_link_tag 'Christian_Louboutin_logo_logotype.png' %>
    <title>Capstone</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <div>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <%= link_to "Home", root_url,class: "white-text  navbar-brand" %>

      <ul id="nav-moblie" class="right hide-on-med-and-down">
          <!--<li><a href="#"><div class="text-center"><span class="glyphicon glyphicon glyphicon-user"></span><br>Customers</div></a></li>
          <li><a href="#"><div class="text-center"><span class="glyphicon glyphicon-calendar"></span><br>Reservations</div></a></li>
          <li><a href="#"><div class="text-center"><span class="glyphicon glyphicon-barcode"></span><br>Products</div></a></li>
          <li><a href="#"><div class="text-center"><span class="glyphicon glyphicon-barcode"></span><br>Materials</div></a></li>
          <li><a href="#"><div class="text-center"><span class="glyphicon glyphicon-barcode"></span><br>Colors</div></a></li>
          <li><a href="#"><div class="text-center"><span class="glyphicon glyphicon-signal"></span><br>Admin Dashboard</div></a></li>-->


        <% if user_signed_in? %>
          <% if current_user.try(:admin?) %>
            <li> <%= link_to "Materials",materials_path,class: "white-text navbar-brand" %></li>
            <li> <%= link_to "Colors", colors_path,class: "white-text navbar-brand" %></li>
            <li> <%= link_to "Admin", '/adminpage',class: "white-text navbar-brand" %></li>
            <li> <%= link_to "Reports", '/pages/reportsPage',class: "white-text navbar-brand" %></li>
          <%end%>

          <li> <%= link_to "Pre-Orders", reservations_path,class: " white-text navbar-brand"%></li>
          <li> <%= link_to "Products", products_path,class: " white-text navbar-brand"%></li>
          <li> <%= link_to "Customers", customers_path,class: " white-text navbar-brand" %></li>

          <li> <%= link_to "About", pages_about_path,class: "white-text navbar-brand" %></li>
          <li><%= link_to "Logout", destroy_user_session_path,class: "white-text navbar-brand"%></li>
        <%else %>

          <li>
            <%= link_to "Login", new_user_session_path,class: "white-text navbar-brand" %>
          </li>
        <%end %>






      </ul>
    </nav>
  </div>
  <br><br>
  <div class="container2">

      <%= yield %>
  </div>


  <footer class="page-footer">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Christian Louboutin</h5>
          <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>
        </div>
        <div class="col l4 offset-l2 s12">
          <h5 class="white-text">Site Map</h5>
          <div class="row">
            <ul class="col s6">
              <li><a class="grey-text text-lighten-3" href="#!">Pre-Orders</a></li>
              <li><a class="grey-text text-lighten-3" href="#!">Customers</a></li>
              <li><a class="grey-text text-lighten-3" href="#!">Products</a></li>
              <li><a class="grey-text text-lighten-3" href="#!">About</a></li>
            </ul>
            <ul class="col s6">
              <li><a class="grey-text text-lighten-3" href="#!">Reports</a></li>
              <li><a class="grey-text text-lighten-3" href="#!">Materials</a></li>
              <li><a class="grey-text text-lighten-3" href="#!">Colors</a></li>
              <li><a class="grey-text text-lighten-3" href="#!">Admin</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
        © 2018 Christian Louboutin | A-Team
        <a class="grey-text text-lighten-4 right" href="#!">Logout</a>
      </div>
    </div>
  </footer>

  </body>
</html>
