<!DOCTYPE html>
<html>
  <head>
    <title>Capstone</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <div>
    <nav class="navbar navbar-inverse navbar-fixed-top teal">
      <%= link_to "Home", root_url,class: "navbar-brand" %>

      <ul id="nav-moblie" class="right hide-on-med-and-down">
          <!--<li><a href="#"><div class="text-center"><span class="glyphicon glyphicon glyphicon-user"></span><br>Customers</div></a></li>
          <li><a href="#"><div class="text-center"><span class="glyphicon glyphicon-calendar"></span><br>Reservations</div></a></li>
          <li><a href="#"><div class="text-center"><span class="glyphicon glyphicon-barcode"></span><br>Products</div></a></li>
          <li><a href="#"><div class="text-center"><span class="glyphicon glyphicon-barcode"></span><br>Materials</div></a></li>
          <li><a href="#"><div class="text-center"><span class="glyphicon glyphicon-barcode"></span><br>Colors</div></a></li>
          <li><a href="#"><div class="text-center"><span class="glyphicon glyphicon-signal"></span><br>Admin Dashboard</div></a></li>-->

          <% if current_user.try(:admin?) %>
                <li> <%= link_to "Admin", colors_path,class: "navbar-brand" %></li>
          <% end %>
        <% if user_signed_in? %>

          <li>
          <li> <%= link_to "Products", products_path,class: "navbar-brand"%></li>
          <li> <%= link_to "Customers", customers_path,class: "navbar-brand" %></li>
          <li> <%= link_to "Materials",materials_path,class: "navbar-brand" %></li>
          <li> <%= link_to "Colors", colors_path,class: "navbar-brand" %></li>
            <%= link_to "Logout", destroy_user_session_path,class: "navbar-brand"%>
          </li>
        <%else %>

          <li>
            <%= link_to "Login", new_user_session_path,class: "navbar-brand" %>
          </li>
        <%end %>






      </ul>
    </nav>
  </div>
  <br><br>
  <div class="container2">

      <%= yield %>
    </div>
  </body>
</html>
