<!DOCTYPE html>
<html>
  <head>
    <title>Capstone</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <div>
    <nav class="navbar navbar-inverse navbar-fixed-top teal">
      <%= link_to "Home", root_url,class: "navbar-brand" %>

      <ul id="nav-moblie" class="right hide-on-med-and-down">
          <!--<li><a href="#"><div class="text-center"><span class="glyphicon glyphicon glyphicon-user"></span><br>Customers</div></a></li>
          <li><a href="#"><div class="text-center"><span class="glyphicon glyphicon-calendar"></span><br>Reservations</div></a></li>
          <li><a href="#"><div class="text-center"><span class="glyphicon glyphicon-barcode"></span><br>Products</div></a></li>
          <li><a href="#"><div class="text-center"><span class="glyphicon glyphicon-barcode"></span><br>Materials</div></a></li>
          <li><a href="#"><div class="text-center"><span class="glyphicon glyphicon-barcode"></span><br>Colors</div></a></li>
          <li><a href="#"><div class="text-center"><span class="glyphicon glyphicon-signal"></span><br>Admin Dashboard</div></a></li>-->
          <li> <%= link_to "Products", pages_productsPage_path,class: "navbar-brand"%></li>
          <li> <%= link_to "Customers", pages_customersPage_path,class: "navbar-brand" %></li>
          <li> <%= link_to "Materials",materials_path,class: "navbar-brand" %></li>
          <li> <%= link_to "Colors", colors_path,class: "navbar-brand" %></li>
          <li> <%= link_to "Login", colors_path,class: "navbar-brand" %></li>



      </ul>
    </nav>
  </div>
  <br><br>
  <div class="container">

      <%= yield %>
    </div>
  </body>
</html>
